<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="large-screen:vads-u-padding-x--0">
        <%- include('./partials/main_nav') %>
      </div>
    </main>
  </body>
</html>

