<html>
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header', { tokenset: tokenset}) %>
    <main>
      <div class="large-screen:vads-u-padding-x--0">
        <%- include('./partials/main_nav', { tokenset: tokenset}) %>
        </div>
      </div>
    </main>
  </body>
</html>
